In [9]:
aa=1000000
bb=13
cont=0
for i in range(aa):
    if i % bb ==0:
        cont=cont+1
print (f"Hay {cont} múltiplos de {bb} en los primeros {aa} números")

Hay 76924 múltiplos de 13 en los primeros 1000000 números

# BUCLES Y WHILES

In [12]:
for i in "CONSTANTINOPLA":
    print(f"Dame una {i}")

Dame una C
Dame una O
Dame una N
Dame una S
Dame una T
Dame una A
Dame una N
Dame una T
Dame una I
Dame una N
Dame una O
Dame una P
Dame una L
Dame una A

In [16]:
for i in range(3,6):
    print(f"{i}")

3
4
5

In [17]:
for i in range(3,6):
    print(i)

3
4
5

In [40]:
aa=1000000
bb=13
cont=0
cont2=0
for i in range(aa):
    if i % bb ==0:
        cont=cont+1
    if cont == 100:
        cont2=cont2+1
        if cont2 == 1:
           print("Al menos hay 100 múltiplos en la cifra seleccionada")
print (f"Hay {cont} múltiplos de {bb} en los primeros {aa} números")
print("Hay {} múltiplos de {} en los primeros {} números".format(cont, bb, aa))

Al menos hay 100 múltiplos en la cifra seleccionada
Hay 76924 múltiplos de 13 en los primeros 1000000 números
Hay 76924 múltiplos de 13 en los primeros 1000000 números

In [54]:
cont=0
i=0
while i<5:
    i=i+1
    cont=cont+1
    if cont==1:
        print(i)
print (f"hola, número de iteraciones = {i}")

hola, número de iteraciones = 5

# VARIABLES STRING Y LISTAS

In [41]:
varStr = "esto es una variable tipo string"

In [76]:
len(varStr)

32

In [43]:
for i in varStr:
    print(i)

e
s
t
o

e
s

u
n
a

v
a
r
i
a
b
l
e

t
i
p
o

s
t
r
i
n
g

In [46]:
print(varStr[0], varStr[1], varStr[2])

e s t

In [47]:
print(varStr[0:1], varStr[0:2])

e es

In [48]:
print(varStr[4:7])

 es

In [49]:
varStr2 = "Aqui tenemos MAYUSCULAS y minusculas"

In [52]:
varStr3 = varStr.upper()
varStr4 = varStr.lower()
print(varStr)
print(varStr2)
print(varStr3)
print(varStr4)

esto es una variable tipo string
Aqui tenemos MAYUSCULAS y minusculas
ESTO ES UNA VARIABLE TIPO STRING
esto es una variable tipo string

In [77]:
varStr5 = ""

In [58]:
print(varStr.count("es"))
varStr6 = "ok"

2

In [59]:
print(type(varStr))

<class 'str'>

In [78]:
print(type(varStr), type(varStr.split()))
print(type(varList))

<class 'str'> <class 'list'>
<class 'list'>

In [61]:
varList = varStr.split()
print(varStr)
print(varList)

esto es una variable tipo string
['esto', 'es', 'una', 'variable', 'tipo', 'string']

In [65]:
cont=0
for i in varList:
    cont=cont+1
    if cont==4:
        print(i)

variable

In [66]:
print(varList[2:4])

['una', 'variable']

In [67]:
varList[4]

'tipo'

In [68]:
varList[4] = 6

In [85]:
print(varList)
varList.remove(5)
print(varList)

['esto', 5, 'es', 'una', 'variable', 6, 5.67]
['esto', 'es', 'una', 'variable', 6, 5.67]

In [84]:
print(type(varList[3]))
print(type(varList[4]))

<class 'str'>
<class 'str'>

In [72]:
varList[5] = 5.67

In [74]:
print(type(varList[5]))

<class 'float'>

# TUPLES

In [132]:
tup=(0,1,"W",3)
tup2=tup*3
print(type(tuple))
print(tup2)

<class 'tuple'>
(0, 1, 'W', 3, 0, 1, 'W', 3, 0, 1, 'W', 3)

In [133]:
print(type(tup2[2]))

<class 'str'>

In [134]:
tup2[2]="aa"

TypeError: 'tuple' object does not support item assignment

In [90]:
tup=[1,2,3]
type(tup)

list

In [91]:
varList

['esto', 'es', 'una', 'variable', 6, 5.67]

In [93]:
print(tuple(varList))

TypeError: 'tuple' object is not callable

# DICCIONARIOS

In [128]:
dic={"a":1,"b":2}
print(type(dic))

<class 'dict'>

In [120]:
print(dic.keys())

dict_keys(['a', 'b'])

In [121]:
print(dic.values())

dict_values([1, 2])

In [122]:
dic2=dic.copy()

In [123]:
dic3=dic

In [124]:
dic.clear()

In [125]:
dic3.values()

dict_values([])

In [126]:
type(dic2)

dict

In [127]:
dic2.values()

dict_values([1, 2])

In [129]:
print(dic2.get("a"))

1

In [135]:
dic2

{'a': 1, 'b': 2}

In [136]:
for key, value in dic2.items():
    print(key, value)

a 1
b 2

## Homework Assignment
Find out how to iterate on row, column of a numpy matrix

In [151]:
class Apple():
    name = "golden"
    color = "yellow"
    def func2(self):
        print("el nombre de este objeto es ", self.name)

probamos la funci'on

In [153]:
manzana = Apple()
manzana.func2()

el nombre de este objeto es  golden

In [141]:
manzana.name = "rojazana"

In [140]:
dic2.items()

dict_items([('a', 1), ('b', 2)])

In [142]:
manzana.name

'rojazana'

In [148]:
def func1(a, b):
    print("esta es una funcion que suma dos values")
    return a+b

In [144]:
func1()

esta es una funcion

In [145]:
type(func1())

esta es una funcion

NoneType

In [149]:
func1(1,3)

esta es una funcion que suma dos values

4

In [155]:
git remote add origin https://github.com/luisl01/apuntes1.git
git push -u origin master

SyntaxError: invalid syntax (<ipython-input-155-a031a55b7c92>, line 1)